USE [stock]
GO
/****** Object:  Table [dbo].[stock]    Script Date: 2019-10-22 오전 10:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock](
	[Coke] [int] NULL,
	[Cider] [int] NULL,
	[Fanta] [int] NULL,
	[Sodduck] [int] NULL,
	[Pikachu] [int] NULL,
	[Lamen] [int] NULL,
	[Hamburger] [int] NULL,
	[Hotdog] [int] NULL,
	[Sunchip] [int] NULL,
	[Ojingchip] [int] NULL,
	[JinRamen] [int] NULL,
	[BullDack] [int] NULL,
	[SinRamen] [int] NULL,
	[Wanggyoja] [int] NULL,
	[Ralpee] [int] NULL
) ON [PRIMARY]
GO
